#about {
  margin: 0 auto;
  padding: 1rem;
}

#about-content li {
  list-style: none;
  padding: 0.5rem 0;
  text-align: justify;
}

#about-content img {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.video-player {
  position: relative;
  
}

.video-player::before {
  content: "";
  background-image: url("/icons/play-icon.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  cursor: pointer;
  
}

#results {
  
  background: linear-gradient(
    90deg,
    var(--color-darkblue),
    var(--color-darkviolet)
  );
  color: var(--color-ghostwhite);
}

#results span {
  font-weight: bold;
  color: var(--color-purple);
}
