* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --color-lightgrey: #eee9e7;
  --color-darkgrey: #32292f;
  --color-lightcyan: #e5edf3;
  --color-darkblue: #03045e;
  --color-purple: #c6408a;
  --color-lightpurple: #f23d79;
  --color-darkviolet: #29035e;
  --color-ghostwhite: #f5f3f7;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--color-ghostwhite);
  color: var(--color-darkgrey);
  text-align: center;
}

header {
  padding: 0.5rem;
  background-color: var(--color-darkblue);
}



a {
  text-decoration: none;
  color: var(--color-ghostwhite);
}

nav {
  align-items: center;

  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 0.5rem 0;
  display: inline-block;
  position: relative;
}


#logo {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  font: inherit;
  background-color: var(--color-purple);
  color: var(--color-ghostwhite);
  border: 2px solid var(--color-purple);
  border-radius: 30px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.8s ease-out;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-lightpurple);
  border: 2px solid var(--color-lightpurple);
}

#hero {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-content img {
  max-width: 90%;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
}

footer {
  
  padding: 1rem;
  background: linear-gradient(
    90deg,
    var(--color-darkblue),
    var(--color-darkviolet)
  );
  color: var(--color-ghostwhite);
  display: flex;
  flex-direction: column;
  
}

svg {
  width: 1.8rem;
  height: 1.8rem;
}

.container {
  padding: 1rem 0;
}

.footer-item {
  padding: 0.5rem 0;
}

.useful-links {
  display: flex;
  flex-direction: column;
}

.useful-links a {
  padding: 0.2rem 0;
  color: var(--color-ghostwhite);
}
