* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --color-lightgrey: #eee9e7;
  --color-darkgrey: #32292f;
  --color-lightcyan: #e5edf3;
  --color-darkblue: #03045e;
  --color-purple: #dd1155;
  --color-lightpurple: #f23d79;
  --color-darkviolet: #29035e;
  --color-ghostwhite: #f5f3f7;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--color-ghostwhite);
  color: var(--color-darkgrey);
  text-align: center;
}

header {
  padding: 2rem;
  background: linear-gradient(
    90deg,
    var(--color-darkblue),
    var(--color-darkviolet)
  );
}

header a {
  color: var(--color-ghostwhite);
}

a {
  text-decoration: none;
  color: var(--color-ghostwhite);
}

nav {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 0.5rem 0;
  display: inline-block;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
  transform-origin: bottom right;
  transition: transform 0.65s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#logo {
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  font: inherit;
  background-color: var(--color-purple);
  color: var(--color-ghostwhite);
  border: 2px solid var(--color-purple);
  border-radius: 30px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.8s ease-out;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-lightpurple);
  border: 2px solid var(--color-lightpurple);
}

#hero {
  padding: 5%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero::before {
  content: "";
  background-image: url("/images/team-working.avif");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.55;
}

#hero-content {
  position: relative;
}

#hero-content p {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

footer {
  padding: 1rem;
  background: linear-gradient(
    90deg,
    var(--color-darkblue),
    var(--color-darkviolet)
  );
  color: var(--color-ghostwhite);
  display: flex;
  flex-direction: column;
}

svg {
  width: 1.8rem;
  height: 1.8rem;
}

.container {
  padding: 1rem 0;
}

.footer-item {
  padding: 0.5rem 0;
}

.useful-links {
  display: flex;
  flex-direction: column;
}

.useful-links a {
  padding: 0.2rem 0;
  color: var(--color-ghostwhite);
}
