@media (min-width: 768px) {
  #hero {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }

  #hero-content img {
  width: 100%;
}

  nav {
    flex-direction: row;
  }

  nav a {
    margin-right: 50px;
  }

  h1 {
    font-size: 3rem;
  }
  

  .services-content li {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .services-content svg,
  .services-content h3 {
    margin-right: 10px;
  }

  #blog {
   padding: 2rem;
  }

  .blog-item {
    margin-bottom: 20px;
  }

  .author p {
    font-size: 1rem;
  }

  #team {
    padding: 2rem;
  }

  .team-container {
    flex-direction: row;
    gap: 10px;
  }

  #connect {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-item img {
  max-width: 90%;
}

  .useful-links {
    flex-direction: row;
    justify-content: center;
  }
  .useful-links a {
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  #about {
    padding: 4rem;
  }

  #about-content {
    display: flex;
    gap: 40px;
  }

  #results {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 2rem;
  }

  #services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #contact {
    padding: 2rem 20rem;
  }

  .btn {
    padding: 1rem 3rem;
  }

  #blog .container {
    display: flex;
    gap: 10px;
  }

  #connect {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .footer-item {
    
    padding: 0 10rem;
  }

  .useful-links {
    flex-direction: column;
    
  }

  .useful-links a {
    margin-right: 20px;
  }
}
